<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hxg.dao.MedicalRecordsMapper" >
    <resultMap id="BaseResultMap" type="com.cn.hxg.entity.MedicalRecords" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="stu_name" property="stuName" jdbcType="VARCHAR" />
        <result column="dco_name" property="dcoName" jdbcType="VARCHAR" />
        <result column="jzrq" property="jzrq" jdbcType="TIMESTAMP" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="serial_number" property="serialNumber" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
        id,stu_name,dco_name,jzrq,description,serial_number
    </sql>

    <select id="getList" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM medical_records
        WHERE 1=1
        <if test="data != null and data != ''">
            and dco_name = #{data,jdbcType=VARCHAR}
        </if>
        <if test="serialNumber != null and serialNumber != ''">
            and id = #{serialNumber,jdbcType=INTEGER}
        </if>
        ORDER BY id DESC
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from medical_records
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from medical_records
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cn.hxg.entity.MedicalRecords">
        <!--<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="id">
            SELECT UPPER(UUID()) AS id
        </selectKey>-->
        insert into medical_records (id,stu_name,dco_name,
        jzrq,description,serial_number)
        values (#{id,jdbcType=INTEGER},#{stuName,jdbcType=VARCHAR},#{dcoName,jdbcType=VARCHAR},
        #{jzrq,jdbcType=TIMESTAMP},#{description,jdbcType=VARCHAR},#{serialNumber,jdbcType=INTEGER})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.cn.hxg.entity.MedicalRecords">
        update medical_records
        set stu_name = #{record.stuName,jdbcType=VARCHAR},
        dco_name = #{record.dcoName,jdbcType=VARCHAR},
        jzrq = #{record.jzrq,jdbcType=TIMESTAMP},
        description = #{record.description,jdbcType=VARCHAR},
        serial_number = #{record.serialNumber,jdbcType=VARCHAR}

        where id = #{record.id,jdbcType=INTEGER}
    </update>
</mapper>