<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.hxg.dao.MedicineMapper" >
    <resultMap id="BaseResultMap" type="com.cn.hxg.entity.Medicine" >
        <id column="drug_num" property="drugNum" jdbcType="INTEGER" />
        <result column="drug_name" property="drugName" jdbcType="VARCHAR" />
        <result column="drug_type" property="drugType" jdbcType="VARCHAR" />
        <result column="production_date" property="productionDate" jdbcType="VARCHAR" />
        <result column="effective_date" property="effectiveDate" jdbcType="VARCHAR" />
        <result column="production_enterprise" property="productionEnterprise" jdbcType="VARCHAR" />
        <result column="buy_price" property="buyPrice" jdbcType="DECIMAL" />
        <result column="seller_price" property="sellerPrice" jdbcType="DECIMAL" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="stock_units" property="stockUnits" jdbcType="VARCHAR" />
        <result column="contact_person" property="contactPerson" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List">
        drug_num,drug_name,drug_type,production_date,effective_date,production_enterprise,buy_price,seller_price,number,stock_units,
        contact_person
    </sql>

    <select id="getAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from medicine
        where 1=1
        <if test="data != null and data != ''">
            and drug_num = #{data}
        </if>
        order by drug_num desc
    </select>

    <select id="getAllTotal" resultType="java.lang.Integer">
        select count(drug_num)
        from medicine
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from medicine
        where drug_num = #{drugNum,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from medicine
        where drug_num = #{drugNum,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.cn.hxg.entity.Medicine">
        <!--<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="drugNum">-->
            <!--SELECT UPPER(UUID()) AS drugNum-->
        <!--</selectKey>-->
        insert into medicine (drug_num,drug_name,drug_type,
        production_date,effective_date,production_enterprise,
        buy_price,seller_price,number,
        stock_units,contact_person)
        values (#{drugNum,jdbcType=INTEGER},#{drugName,jdbcType=VARCHAR},#{drugType,jdbcType=VARCHAR},
        #{productionDate,jdbcType=VARCHAR},#{effectiveDate,jdbcType=VARCHAR},#{productionEnterprise,jdbcType=VARCHAR},
        #{buyPrice,jdbcType=DECIMAL},#{sellerPrice,jdbcType=DECIMAL},#{number,jdbcType=VARCHAR},
        #{stockUnits,jdbcType=VARCHAR},#{contactPerson,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.cn.hxg.entity.Medicine">
        <!--<selectKey resultType="java.lang.Integer" order="BEFORE" keyProperty="drugNum">-->
            <!--SELECT UPPER(UUID()) AS drugNum-->
        <!--</selectKey>-->
        insert into medicine
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="drugNum != null" >
                drug_num,
            </if>
            <if test="drugName != null" >
                drug_name,
            </if>
            <if test="drugType != null" >
                drug_type,
            </if>
            <if test="productionDate != null" >
                production_date,
            </if>
            <if test="effectiveDate != null" >
                effective_date,
            </if>
            <if test="productionEnterprise != null" >
                production_enterprise,
            </if>
            <if test="buyPrice != null" >
                buy_price,
            </if>
            <if test="sellerPrice != null" >
                seller_price,
            </if>
            <if test="number != null" >
                number,
            </if>
            <if test="stockUnits != null" >
                stock_units,
            </if>
            <if test="contactPerson != null" >
                contact_person
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="drugNum != null" >
                #{drugNum,jdbcType=INTEGER},
            </if>
            <if test="drugName != null" >
                #{drugName,jdbcType=VARCHAR},
            </if>
            <if test="drugType != null" >
                #{drugType,jdbcType=VARCHAR},
            </if>
            <if test="productionDate != null" >
                #{productionDate,jdbcType=VARCHAR},
            </if>
            <if test="effectiveDate != null" >
                #{effectiveDate,jdbcType=VARCHAR},
            </if>
            <if test="productionEnterprise != null" >
                #{productionEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="buyPrice != null" >
                #{buyPrice,jdbcType=DECIMAL},
            </if>
            <if test="sellerPrice != null" >
                #{sellerPrice,jdbcType=DECIMAL},
            </if>
            <if test="number != null" >
                #{number,jdbcType=VARCHAR},
            </if>
            <if test="stockUnits != null" >
                #{stockUnits,jdbcType=VARCHAR},
            </if>
            <if test="contactPerson != null" >
                #{contactPerson,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.cn.hxg.entity.Medicine">
        update medicine
        <set>
            <if test="record.drugName != null">
                drug_name = #{record.drugName,jdbcType=VARCHAR},
            </if>
            <if test="record.drugType != null">
                drug_type = #{record.drugType,jdbcType=VARCHAR},
            </if>
            <if test="record.productionDate != null">
                production_date = #{record.productionDate,jdbcType=VARCHAR},
            </if>
            <if test="record.effectiveDate != null">
                effective_date = #{record.effectiveDate,jdbcType=VARCHAR},
            </if>
            <if test="record.productionEnterprise != null">
                production_enterprise = #{record.productionEnterprise,jdbcType=VARCHAR},
            </if>
            <if test="record.buyPrice != null">
                buy_price = #{record.buyPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.sellerPrice != null">
                seller_price = #{record.sellerPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.number != null">
                number = #{record.number,jdbcType=VARCHAR},
            </if>
            <if test="record.stockUnits != null">
                stock_units = #{record.stockUnits,jdbcType=VARCHAR},
            </if>
            <if test="record.contactPerson != null">
                contact_person = #{record.contactPerson,jdbcType=VARCHAR}
            </if>
        </set>
        where drug_num = #{record.drugNum,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.cn.hxg.entity.Medicine">
    update medicine
    set drug_name = #{record.drugName,jdbcType=VARCHAR},
		drug_type = #{record.drugType,jdbcType=VARCHAR},
		production_date = #{record.productionDate,jdbcType=VARCHAR},
		effective_date = #{record.effectiveDate,jdbcType=VARCHAR},
		production_enterprise = #{record.productionEnterprise,jdbcType=VARCHAR},
		buy_price = #{record.buyPrice,jdbcType=DECIMAL},
		seller_price = #{record.sellerPrice,jdbcType=DECIMAL},
		number = #{record.number,jdbcType=VARCHAR},
		stock_units = #{record.stockUnits,jdbcType=VARCHAR},
		contact_person = #{record.contactPerson,jdbcType=VARCHAR}

    where drug_num = #{record.drugNum,jdbcType=INTEGER}
  </update>
</mapper>